.container {
  padding: 20px;
  background-color: #18181b;
  color: white;
  height: 100vh;
  width: 100%;
}

.responseTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.responseTable th,
.responseTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: white;
}

.data {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.data div {
  background-color: #323232;
  padding: 40px 50px;
  border-radius: 5px;
}
.noResponses {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #666;
  text-align: center;
}
.data {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.data div {
  background-color: #323232;
  color: white;
}
.dataeach{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.serial{
  display: flex;
  gap: 5px;
}