.renavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #18181b;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.input {
  padding: 5px;
  border: 1px solid #444;
  background-color: #37373E;
  color: #fff;
  width: 200px;
}

.input.error {
  border: 1px solid #f55050;
}

.errorMessage {
  color: #f55050;
  font-size: 12px;
  margin-top: 5px;
}

.centerButtons {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.tabButton {
  margin: 0 5px;
  padding: 5px 10px;
  width: 100px;
  background-color: #1c1c1c;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}

.tabButton:hover,
.activeTab {
  background-color: #18181b;
  border: 1px solid #7EA6FF;
  color: #7EA6FF;
}

.rightButtons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.actionButton,
.saveButton,
.closeButton {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 70px;
  box-sizing: border-box;
}

.saveButton {
  background-color: #4ade80;
}

.closeButton {
  background-color: transparent;
  color: #f55050;
  width: auto;
  padding: 5px 10px;
}

.shareActive {
  background-color: #1A5FFF;
}