.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    align-items: center;
    background-image: linear-gradient(to right, #171923 , #1A202C);
    color: #FFFFFF;
  }
  
  .navbarContent {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .navbar2 {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .navLink {
    text-decoration: none; 
    display: inline-block; 
    padding: 5px 13px; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .signin {
    border: 1px solid #7EA6FF;
    color: #7EA6FF;
    padding: 8px 17px; 
    border-radius: 5px; 
    background-color: transparent; 
  }
  
  .signup {
    background-color: #1A5FFF;
    color: #FFFFFF;
    padding: 8px 17px; 
    border-radius: 5px; 
    border: none; 
  }
  