.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  position: relative;
}

.shape {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 0; /* Ensure shapes are behind the form */
}

.traingle {
  left: 40px; /* Center on the left border */
  top: 50%; /* Vertically centered */
  transform: translate(-10%, -50%);
  width: 280px; /* Adjust size as needed */
  height: auto;
}

.ellipseUpper {
  right: 9px; /* Center on the right border */
  top: 50%; /* Vertically centered */
  transform: translate(10%, -50%);
  width: 80px; /* Adjust size as needed */
  height: auto;
}

.ellipseDown {
  bottom: 50px; /* Center on the bottom border */
  left: 70%; /* Horizontally centered */
  transform: translate(-10%, 50%);
  width: 150px; /* Adjust size as needed */
  height: auto;
}

.formContainer {
  background-color: #121212;
  color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  z-index: 1; /* Ensure the form is above the shapes */
  position: relative; /* Ensure form content is positioned relative to container */
}

.inputGroup {
  margin-bottom: 1rem;
}

.inputGroupError label {
  color: red;
}

.inputGroup label {
  display: block;
  margin-bottom: 0.5rem;
}

.inputGroup input {
  width: 96%;
  padding: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 7px;
  background-color: #121212;
  color: #ffffff;
}

.inputGroup input.errorInput {
  border-color: red;
}

.errorMessage {
  color: red;
  opacity: 0.7;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  display: block;
  text-align: center;
}

.registerLink {
  color: blue;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-top: 1rem;
}